body{
    margin: 0px;
    padding: 0px;
    background: url(pictures/green-alg-background.jpg) no-repeat;
    background-size: cover;
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

.homepage-main{
    background-color: rgba(245, 245, 220, 0.308);
    padding: 15px;
}

.aside-homepage{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.first-figure{
    text-align: center;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(49, 214, 49, 0.774);
    box-shadow: 1px 5px 12px #333;
    transition: 0.3s;
}
.first-figure:hover{
    transform: translateY(-5px);
    box-shadow: 2px 12px 20px #222;
}
.first-figure h2{
    font-size: 1.8rem;
}
.first-figure p{
    font-size: 1.5rem;
    padding: 8px;
    font-style: italic;
}

.social-media-figure ul{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.social-media-figure ul li{
    list-style: none;
}
.social-media-figure a{
    text-decoration: none;
    padding: 5px;
}

.img-home{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.btn-figure{
    padding: 10px;
    color: white;
    background-color: green;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    width: 90%;
    transition: 0.3s;
    border: 1px solid #333;
    cursor: pointer;
}
.btn-figure:hover{
    background-color: rgba(255, 255, 255, 0.699);
    color: green;
}
.btn-figure:focus{
    outline-color: green;
}

.homepage-header{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: rgb(2, 82, 2);
    text-align: center;
    font-style: oblique;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgb(87, 87, 87);
}

.green-alg-img{
    width: 180px;
    height: 200px;
}

main .first-frame-video{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.first-frame-video iframe{
    width: 600px;
    height: 350px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.navbar a{
    
    border-bottom: solid;
    color: rgb(1, 68, 1);
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.navbar a:hover{
    background-color: rgb(108, 184, 108);
}

main .paragraph{
    padding: 20px;
    text-align: right;
    color: black;
    font-family: serif;
    font-size: large;
    word-spacing: 4px;

}

main .paragraph h3{
    text-align: right;
    margin-right: 55px;
}

.home-new{
    color: rgb(0, 94, 0);
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
}

figure{
    text-align: center;
}


footer{
    text-align: center;
    color: white;
}

footer p{
    font-size: large;
}
.social-media ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.social-media a{
    text-decoration: none;
}

.section-about{
    background-color: rgba(0, 128, 0, 0.658);
    text-align: center;
    padding: 10px;
}
.title-about{
    font-size: 2rem;
    color: #f9f9f9;
}
.paragraph-about{
    font-size: 1.5rem;
    color: #111;
}

.search-about{
    padding: 10px;
    background-color: rgba(82, 128, 82, 0.377);
    margin: 20px;
    border-radius: 10px;
}

.search-about form{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.search-about input{
    width: 47%;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
}
.search-about select{
    width: 47%;
    padding: 10px;
    border-radius: 8px;
}

.table-about{
    background-color: #f9f9f9f5;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
}
.table-about tr{
    text-align: center;
}
.table-about th{
    padding: 5px;
    color: white;
    font-size: 1.2rem;
    border-bottom: 1px solid #111;
    background-color: darkgreen;
}
.table-about td{
    border-bottom: 1px solid #111;
    margin: 0;
    padding: 8px;
    color: rgb(16, 65, 16);
    font-size: 1.1rem;
}
.go-map{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 6px 8px;
    border-radius: 8px;
    transition: 0.3s;
}
.go-map:hover{
    background-color: #2cf325;
    box-shadow: 2px 5px 24px #111;
}
.wilaya{
    border-radius: 8px 0 0 0;
}
.tawajouh{
    border-radius: 0 8px 0 0;
    width: 100px;
}

.order-form{
    color: black;
    font-weight: bold;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgba(0, 128, 0, 0.26);
    width: 80%;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.order-form input{
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
}

.order-form input:focus{
    outline-color: green;
}

.order-form select{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 80%;
    text-align: center;
}

.order-form textarea{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}

.order-form .button-order{
    width: 100px;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(159, 223, 159);
    cursor: pointer;
    transition: 0.3s;
}

.order-form .button-order-reset{
    width: auto;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(204, 200, 200);
    cursor: pointer;
    transition: 0.3s;
}

.order-form .button-order-cancel{
    width: 80px;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(236, 177, 177);
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.order-form .button-order-cancel:hover{
    background-color: rgb(255, 109, 109);
}

.order-form .button-order-reset:hover{
    background-color: rgb(129, 124, 124);
}

.order-form .button-order:hover{
    background-color: rgb(58, 202, 58);
}

@media(max-width:600px) {
     .navbar{
        margin-top: 30px;
    }
    header h1{
        font-size: 0.8rem;
    }

    .navbar ul{
        gap: 5px;
        flex-wrap: wrap;
    }

    .first-frame-video iframe{
        width: 92%;
        height: 250px;
    }

      .first-figure{
        width: 90%;
    }

    .green-alg-img{
        width: 40px;
        height: 60px;
    }

    .search-about input{
    width: 90%;
    }
    .search-about select{
    width: 90%;
    }
    .table-about th{
        font-size: 1rem;
    }
    .table-about td{
        font-size: 1rem;
    }
     
}

@media(max-width:900px){
    .navbar{
        margin-top: 30px;
    }
    header h1{
        font-size: 1.4rem;
        margin-left: 0;
        padding: 0;
    }

    .navbar ul{
        gap: 15px;
        flex-wrap: wrap;
    }

    .first-frame-video iframe{
        width: 90%;
        height: 350px;
    }

    .first-figure{
        width: 90%;
    }

    .green-alg-img{
        width: 90px;
        height: 120px;
    }

        .search-about input{
    width: 90%;
    }
    .search-about select{
    width: 90%;
    }
}