body{
    margin: 0px;
    padding: 0px;
    background: url(pictures/green-alg-background.jpg) no-repeat;
    background-size: cover;
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

.homepage-main{
    background-color: rgba(245, 245, 220, 0.308);
    padding: 15px;
}

.aside-homepage{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.first-figure{
    text-align: center;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(49, 214, 49, 0.774);
    box-shadow: 1px 5px 12px #333;
    transition: 0.3s;
}
.first-figure:hover{
    transform: translateY(-5px);
    box-shadow: 2px 12px 20px #222;
}
.first-figure h2{
    font-size: 1.8rem;
}
.first-figure p{
    font-size: 1.5rem;
    padding: 8px;
    font-style: italic;
}

.social-media-figure ul{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.social-media-figure ul li{
    list-style: none;
}
.social-media-figure a{
    text-decoration: none;
    padding: 5px;
}

.img-home{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.btn-figure{
    padding: 10px;
    color: white;
    background-color: green;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    width: 90%;
    transition: 0.3s;
    border: 1px solid #333;
    cursor: pointer;
}
.btn-figure:hover{
    background-color: rgba(255, 255, 255, 0.699);
    color: green;
}
.btn-figure:focus{
    outline-color: green;
}

.homepage-header{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: rgb(2, 82, 2);
    text-align: center;
    font-style: oblique;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgb(87, 87, 87);
}

.green-alg-img{
    width: 180px;
    height: 200px;
}

.first-frame-video{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.first-frame-video iframe{
    width: 600px;
    height: 350px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.navbar a{
    
    border-bottom: solid;
    color: rgb(1, 68, 1);
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.navbar a:hover{
    background-color: rgb(108, 184, 108);
}

.navbar :where(#menu-close-btn, #menu-open-btn){
    display: none
}

.homepage-main .paragraph{
    padding: 20px;
    direction: rtl;
    text-align: right;
    color: black;
    font-family: serif;
    font-size: large;
    word-spacing: 4px;

}

.homepage-main .paragraph h3{
    text-align: right;
    margin-right: 55px;
}

.home-new{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
}

figure{
    text-align: center;
}
.tawya-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.tawya-card{
    cursor: pointer;
    width: 30%;
    background-color: #317c2e;
    text-align: center;
    box-shadow: 1px 5px 12px #333;
    transition: 0.3s;
}
.tawya-card:hover{
    transform: translateY(-8px);
    box-shadow: 2px 10px 24px #222;
    background-color: #f9f9f9;
}
.tawya-card a{
    transition: 0.3s;
    text-decoration: none;
    color: white;
}
.tawya-card a:hover{
    color: green;
}
.my-h2-tawya{
    text-align: center;
    font-size: 2rem;
}
.cleaning-img{
    width: 100%;
    height: 350px;
}


footer{
    text-align: center;
    color: white;
}

footer p{
    font-size: large;
}
.social-media ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.social-media a{
    text-decoration: none;
}

.section-about{
    background-color: rgba(0, 128, 0, 0.658);
    text-align: center;
    padding: 10px;
}
.title-about{
    font-size: 2rem;
    color: #f9f9f9;
}
.paragraph-about{
    font-size: 1.5rem;
    color: #111;
}

.search-about{
    padding: 10px;
    background-color: rgba(82, 128, 82, 0.377);
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
}

.search-about form{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.search-about input{
    width: 47%;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
}
.search-about select{
    width: 47%;
    padding: 10px;
    border-radius: 8px;
}

.table-about{
    background-color: #f9f9f9f5;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
}
.table-about tr{
    text-align: center;
}
.table-about th{
    padding: 5px;
    color: white;
    font-size: 1.2rem;
    border-bottom: 1px solid #111;
    background-color: darkgreen;
}
.table-about td{
    border-bottom: 1px solid #111;
    margin: 0;
    padding: 8px;
    color: rgb(16, 65, 16);
    font-size: 1.1rem;
}
.go-map{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 6px 8px;
    border-radius: 8px;
    transition: 0.3s;
}
.go-map:hover{
    background-color: #2cf325;
    box-shadow: 2px 5px 24px #111;
}
.wilaya{
    border-radius: 8px 0 0 0;
}
.tawajouh{
    border-radius: 0 8px 0 0;
    width: 100px;
}

.order-main h2{
    text-align: center;
    background-color: #317c2e;
    padding: 20px;
    color: white;
}
.order-main ul{
    background-color: white;
    color: rgb(99, 40, 6);
    width: 80%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 1px 5px 12px #333;
    list-style-position: inside;
    direction: rtl;
    text-align: center;
    font-size: 1.4rem;
}

.order-form{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    direction: rtl;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgba(0, 128, 0, 0.26);
    width: 80%;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.btns-order{
    display: flex;
    gap: 10px;
}
.my-h2-order-form{
    width: 90%;
    margin-bottom: 20px;
    border-radius: 8px;
}

.order-form input{
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
}

.order-form input:focus{
    outline-color: green;
}

.order-form select{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 80%;
    text-align: center;
}

.order-form textarea{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}

.order-form .button-order{
    width: 100px;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(159, 223, 159);
    cursor: pointer;
    transition: 0.3s;
}

.order-form .button-order-reset{
    width: auto;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(204, 200, 200);
    cursor: pointer;
    transition: 0.3s;
}

.order-form .button-order-cancel{
    width: 70px;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(236, 177, 177);
    transition: 0.3s;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.order-form .button-order-cancel:hover{
    background-color: rgb(255, 109, 109);
}

.order-form .button-order-reset:hover{
    background-color: rgb(129, 124, 124);
}

.order-form .button-order:hover{
    background-color: rgb(58, 202, 58);
}
.order-full{
    direction: rtl;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.under-form h2{
    margin-left: 20px;
    margin-top: 0;
}
.under-form-img{
    width: 100%;
    height: 100%;
}
.under-form-cards{
    overflow-y: scroll;
    margin-left: 20px;
    background-color: rgba(0, 112, 0, 0.459);
    border: 1px solid #111;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 785px;
}
.under-form-card{
    border: 1px solid #222;
    width: 48%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-advice .my-h2{
    text-align: center;
    background-color: #317c2e;
    color: white;
    padding: 20px;
}

.advices{
    background-color: #2c802949;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.first-advice{
    border-radius: 8px;
    text-align: center;
    background-color: #78f374b4;
    width: 48%;
    display: flex;
    flex-direction: column;
}
.advice-imgs{
    width: 100%;
    height: 400px;
    border-radius: 8px 8px 0 0;
}
.first-advice h2{
    padding: 1px 8px;
}
.first-advice p{
    font-size: 1.2rem;
    padding: 0 10px;
}
.view-more-advices{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: green;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    border-radius: 0 0 8px 8px;
    transition: 0.3s;
    border: 1px solid green;
    margin-top: auto;
}
.view-more-advices:hover{
    background-color: white;
    color: green;
}

.alg-map iframe{
    width: 100%;
    height: 600px;
}
.alg-map{
    text-align: center;
    background-color: #1d7e1979;
    padding: 15px;
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

.my-h2-news{
    padding: 20px;
    background-color: #317c2ec4;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.problems-section{
    background-color: #317c2ec4;
    text-align: center;
    padding: 20px;
}
.my-h2-problems{
    color: white;
    font-size: 2rem;
}
.problems-section p{
    font-size: 1.3rem;
    color: #111;
}

@media(max-width:600px) {
     .navbar{
        margin-top: 30px;
    }
     .navbar ul{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        width: 220px;
        margin-top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .navbar ul a{
        display: block;
    }

    .navbar :where(#menu-close-btn, #menu-open-btn) {
        display: block;
        color: darkgreen;
        font-size: 1.3rem;
        border: none;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;
        border-radius: 8px;
        padding: 8px 15px;
        width: auto;
    }
    .navbar :where(#menu-close-btn, #menu-open-btn):hover{
        background-color: #317c2e;
        color: white;
    }

    .navbar #menu-close-btn{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    .navbar #menu-open-btn{
        color: white;
        position: absolute;
        top: 150px;
        right: 10px;
        background-color: #317c2e;
        width: auto;
    }
    .navbar #menu-open-btn:hover{
        background-color: rgb(64, 160, 64);
    }

     body.show-mobile-menu .navbar ul{
        left: 0;
    }

    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.2);
    }

    .other-pages .navbar #menu-open-btn{
        position: absolute;
        top: 10px;
        padding: 8px 10px;
        right: 10px;
    }

    header h1{
        font-size: 0.8rem;
    }

    .first-frame-video iframe{
        width: 92%;
        height: 250px;
    }

      .first-figure{
        width: 90%;
    }

    .green-alg-img{
        width: 40px;
        height: 60px;
    }

    .search-about input{
    width: 90%;
    }
    .search-about select{
    width: 90%;
    }
    .table-about th{
        font-size: 1rem;
    }
    .table-about td{
        font-size: 1rem;
    }

    .main-advice .advices{
        flex-direction: column;
        align-items: center;
    }
    .first-advice{
        width: 100%;
    }

    .tawya-cards{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .tawya-card{
        width: 95%;
    }

    .order-full{
    flex-direction: column;
    align-items: center;
    }
    .order-form{
        margin-right: 0;
        background-color: rgba(1, 82, 1, 0.479);
    }
    .under-form h2{
        margin-left: 0;
    }
    .under-form-cards{
        margin: auto;
        width: 90%;
    }
    .under-form-card{
        width: 95%;
    }

    .alg-map{
        width: 90%;
    }
     
}

@media(max-width:900px){
    .navbar{
        margin-top: 30px;
    }
     .navbar ul{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        background-color: white;
        width: 250px;
        margin-top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: left 0.2s ease;
        overflow: scroll;
    }
    .navbar ul a{
        display: block;
    }
    .navbar :where(#menu-close-btn, #menu-open-btn) {
        display: block;
        color: darkgreen;
        font-size: 1.3rem;
        border: none;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;
        border-radius: 8px;
        padding: 8px 15px;
        width: auto;
    }
    .navbar :where(#menu-close-btn, #menu-open-btn):hover{
        background-color: #317c2e;
        color: white;
    }

    .navbar #menu-close-btn{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .navbar #menu-open-btn{
        color: white;
        position: absolute;
        top: 150px;
        right: 10px;
        background-color: #317c2e;
        width: auto;
    }
    .navbar #menu-open-btn:hover{
        background-color: rgb(64, 160, 64);
    }

    body.show-mobile-menu .navbar ul{
        left: 0;
    }

    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.2);
    }

    .other-pages  #menu-open-btn{
        position: absolute;
        top: 10px;
        padding: 10px 15px;
        right: 10px;
    }

    header h1{
        font-size: 1.4rem;
        margin-left: 0;
        padding: 0;
    }

    .first-frame-video iframe{
        width: 90%;
        height: 350px;
    }

    .first-figure{
        width: 90%;
    }

    .green-alg-img{
        width: 90px;
        height: 120px;
    }

    .search-about input{
    width: 90%;
    }
    .search-about select{
    width: 90%;
    }

    .main-advice .advices{
        flex-direction: column;
        align-items: center;
    }
    .first-advice{
        width: 100%;
    }

    .tawya-cards{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .tawya-card{
        width: 90%;
    }

    .order-full{
    flex-direction: column;
    align-items: center;
    }
    .order-form{
        margin-right: 0;
        background-color: rgba(1, 82, 1, 0.479);
    }
    .under-form h2{
        margin-left: 0;
    }
    .under-form-cards{
        width: 98%;
        margin: auto;
    }

    .alg-map{
        width: 90%;
    }

}