body{
    margin: 0px;
    padding: 0px;
    background: url(pictures/green-alg-background.jpg) no-repeat;
    background-size: cover;
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

.homepage-main{
    background-color: rgba(245, 245, 220, 0.308);
    padding: 15px;
}

.aside-homepage{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.first-figure{
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 1px 6px 11px black;
    background-color: rgba(119, 219, 119, 0.699);
    padding-bottom: 10px;
    width: 400px;
}

.first-figure:hover{
    background-color: green;
    transform: translateY(-8px);
    box-shadow: 2px 12px 22px black;
}

figcaption:hover{
    color: white;
}

.image-home{
    width: 100%;
    height: 90%;
}

.homepage-header{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: rgb(2, 82, 2);
    text-align: center;
    font-style: oblique;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgb(87, 87, 87);
}

.green-alg-logo{
    justify-content: center;
}

main .first-frame-video{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.first-frame-video iframe{
    width: 600px;
    height: 350px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.navbar a{
    
    border-bottom: solid;
    color: rgb(1, 68, 1);
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.navbar a:hover{
    background-color: rgb(108, 184, 108);
}

main .paragraph{
    padding: 20px;
    text-align: right;
    color: black;
    font-family: serif;
    font-size: large;
    word-spacing: 4px;

}

main .paragraph h3{
    text-align: right;
    margin-right: 55px;
}

.caption1{
    color: black;
    text-decoration: none;
    font-size: large;
}
.caption2{
    color: black;
    text-decoration: none;
    font-size: large;
}

.home-new{
    color: rgb(0, 94, 0);
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
}

figure{
    text-align: center;
}


footer{
    text-align: center;
    color: white;
}

footer p{
    font-size: large;
}


.order-form{
    color: black;
    font-weight: bold;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgba(0, 128, 0, 0.26);
    width: 80%;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.order-form input{
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
}

.order-form input:focus{
    outline-color: green;
}

.order-form select{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 80%;
    text-align: center;
}

.order-form textarea{
    padding: 10px;
    width: 50%;
    border-radius: 10px;
}

.order-form .button-order{
    width: 100px;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(159, 223, 159);
    cursor: pointer;
    transition: 0.3s;
}

.order-form .button-order-reset{
    width: auto;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(204, 200, 200);
    cursor: pointer;
    transition: 0.3s;
}

.order-form .button-order-cancel{
    width: 80px;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(236, 177, 177);
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.order-form .button-order-cancel:hover{
    background-color: rgb(255, 109, 109);
}

.order-form .button-order-reset:hover{
    background-color: rgb(129, 124, 124);
}

.order-form .button-order:hover{
    background-color: rgb(58, 202, 58);
}

@media(max-width:450px){
    header h1{
        font-size: 1.1rem;
    }

    .navbar ul{
        gap: 2px;
        flex-wrap: wrap;
    }

    .first-frame-video iframe{
        width: 90%;
        height: 250px;
    }

    .first-figure{
        width: 85%;
    }
}

@media(max-width:800px){
    header h1{
        font-size: 1.4rem;
    }

    .navbar ul{
        gap: 5px;
        flex-wrap: wrap;
    }

    .first-frame-video iframe{
        width: 90%;
        height: 350px;
    }

    .first-figure{
        width: 60%;
    }
}